#!/usr/bin/make -f

SHELL := sh -e

%:
	dh ${@}

override_dh_auto_install:

	dh_auto_install 

	# legacy hack for kde 4.4
	if [ $( kde4-config --version | awk -F\. '/^KDE: / { print $2 }') -lt 5 ]; \
	then \
		sed -i -e 's|Plasma/Applet,Plasma/PopupApplet|Plasma/PopupApplet|' debian/plasma-widget-veromix/usr/share/kde4/apps/plasma/plasmoids/veromix/metadata.desktop ; \
	fi; \
	mkdir -p debian/plasma-widget-veromix/usr/share/kde4/services/ ; \
	cp debian/plasma-widget-veromix/usr/share/kde4/apps/plasma/plasmoids/veromix/metadata.desktop debian/plasma-widget-veromix/usr/share/kde4/services/plasma-widget-veromix.desktop
