#!/usr/bin/make -f

SHELL := sh -e

%:
	dh ${@}

override_dh_auto_clean:
	dh_auto_clean

	find contents/locale -name "*.mo" | xargs rm -f

override_dh_auto_build:
	dh_auto_build

	./Messages.sh

override_dh_install:
	dh_install

	# legacy hack for kde 4.4
	if [ "$(kde4-config --version | awk -F\. '/^KDE: / { print $2 }')" -lt 5 ]; \
	then \
		sed -i -e 's|Plasma/Applet,Plasma/PopupApplet|Plasma/PopupApplet|' debian/plasma-widget-veromix/usr/share/kde4/apps/plasma/plasmoids/veromix/metadata.desktop ; \
	fi

override_dh_fixperms:
	dh_fixperms

	find debian/plasma-widget-veromix/usr/share/kde4/apps/plasma/plasmoids/veromix/contents/locale -name "*.mo" | xargs chmod 0644